@import
  '../assets/sass/partials/placeholders';

.film {
  > div {
    margin-top: 5rem;
  }

  &_header {
    font: {
      family: 'Abel';
      size: 2.5rem;
    }
    @extend %text-center;

    padding: .5rem 0;

    background: #00648F;
    color: #00EAE2;
  }

  &_list {
    margin-top: 2rem;
  }

  &_item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &_info {
      margin-left: -1rem;

      background: #EAEAEA;
    }

    &_title {
      @extend %title-film;

      margin: {
        right: -.5rem;
        bottom: 1.5rem;
        left: -.5rem;
      }
      padding-left: 6rem;

      background: #00648F;
      color: #00EAE2;
    }

    &_description {
      font: {
        family: 'Lato', sans-serif;
        size: 1.1rem;
      }

      margin: {
        bottom: 1.5rem;
      }
    }
  }
}

.form-control {
  border: none;
  border-radius: .2rem;
  width: 100%;
  height: 2.5rem;
  padding-left: 2rem;
  border-radius: 50rem;

  background: #EAEAEA;
  color: #00648F;
}

.badge {
  font: {
    family: 'Abel', sans-serif;
    size: 1rem;
  }

  display: inline-block;
  height: 100%;
  padding: .04rem 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;

  background: #fff;
  border-color: #00648F;
  color: #00648F;

  &:not(:first-child) {
    margin-left: 1rem;
  }
}
